#signup
{
    position: absolute;
    right: 3%;
}
#login
{
    position: absolute;
    right: 10%
}
.register
{
    width: 500px;
    height: 500px;
    position: sticky;
    left: 33%;
    bottom: 20%;
    background: white; 
    z-index: 1001;
    border: 2px solid rgb(85, 85, 101);
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 5px 5px 5px 5px black;
}
.login
{
    width: 500px;
    height: 500px;
    position: sticky;
    left: 33%;
    bottom: 20%;
    z-index: 1001;
    background: white;
    border: 2px solid rgb(85, 85, 101);
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 5px 5px 5px 5px black;
}
.popupHeading
{
    display: grid;
    grid-template-columns: auto;
}
#username
{
    display: flex;
    margin-top: 15%;
    margin-left: 10%;
    justify-content: space-between;
    width: 65%;
}
.formField
{
    border: none;
    background-color: rgb(209, 233, 233);
    border-radius: 5px;
}
#password
{
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    width: 65%;
}
.loginButton
{
    width:20%;
    margin-left: 30%;
    margin-top: 10%;
}
.loginCancel
{
    width:20%;
    margin-left: 5%;
    margin-top: 10%;
}
.buttonsFlexLogin
{
    display: flex;
}
#registerUsername
{
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    width: 65%;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
  }

  .cartDialog
  {
    width: 20%;
    z-index: 2000;
    border: black 1px solid; 
    position: absolute;
    background: white;
    border-radius: 10px;
    padding-bottom: 2%;
  }
  .cartItems
  {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;
  }
  .closeCartButton
  {
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }